*{
	margin: 0;
}
html, body {
  height: 100%;
  font-size: 15px;
}
body
{
	margin: 0;
	padding: 0;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
	color: #555555;		
}

.page-header{
	height: 100px;
	background-color: #564F8A;
	border-bottom: 4px solid rgba(0,0,0,.3);
}
.page-header  nav h2.header.item{
	font-size: 30px;
	position: relative;
	top: 20px;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	
}

.page-container{
	padding-right: 20px;
	padding-left:20px;
	background-color: #f0f2f0;
}
.page-container .column{
}
.page-container .page-main-content
{
}

.page-footer{
	background-color: #2e2a49;
}
.wrapper
{
	min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;

  background-color: #f0f2f0;
}
.wrapper:after {
  content: "";
  display: block;
}
.page-footer, .wrapper:after {
  /* .push must be the same height as footer */
  height: 142px; 
}

.blog-post .blog-body
{
	overflow: hidden;
	padding:10px 50px;
}
.blog-post .blog-image
{
	overflow: hidden;
}
.blog-post .blog-image img {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.blog-post
{
	padding: 50px 0px;
	background-color: white;
	border-bottom: 3px solid #ddd;
	margin-top: 20px;
}
.blog-post .blog-header
{
	text-align: center;
	margin-bottom: 30px;
}
.blog-post .blog-header h2 a 
{
	text-decoration: none;
}
#delete-modal{
}
.content-area
{
	background: white;
	border-bottom: 3px solid #ddd;
	padding:0 !important;
}
.content-area .content
{
	padding:30px 30px 30px 30px;

}