.promo-block-v2{
	background  : url('/images/coding-924920_1920.jpg');
	.promo-block-v2-text{
		max-width: 600px;
	}
}

.header-shrink.header-transparent .navbar-logo, .header-transparent .navbar-logo{
	width :250px;
}
.header-transparent .navbar-logo .navbar-logo-img{
	width: 234px;
}