.promo-block-v2{
	background  : url('/images/coding-924920_1920.jpg');
	.promo-block-v2-text{
		max-width: 600px;
	}
}

.header-shrink.header-transparent .navbar-logo, .header-transparent .navbar-logo,.footer-v5-copyright .footer-v5-copyright-logo,.coming-soon .coming-soon-logo-img{
	width :250px;
}
.header-transparent .navbar-logo .navbar-logo-img{
	width: 234px;
}
.page {	
	&.coming-soon{	
		background:url('/images/rsz_photo-1433360405326-e50f909805b3.jpg')  no-repeat;
		background-position:center center;
	}

	&.create-post{
		.breadcrumbs-v5.breadcrumbs-v5-bg-img-v4{
			background: url('/images/rsz_photo-1422246358533-95dcd3d48961.jpg') no-repeat;
		}
	}
	&.index-post{
		.breadcrumbs-v5.breadcrumbs-v5-bg-img-v4{
			background: url('/images/rsz_2photo-1438755582627-221038b62986.jpg') no-repeat;
		}
	}
	&.breadcrumbs-v5.breadcrumbs-v5-bg-img-v4{
	    background-size: cover;
	    background-position: 50% 50%;
	}
}